<h1>Angular là gì?</h1>
<p>
Chủ đề này có thể giúp bạn hiểu về Angular: Angular là gì, những ưu điểm của nó và những gì bạn có thể mong đợi khi bắt đầu xây dựng các ứng dụng của mình.
<br>
Angular là một nền tảng phát triển, được xây dựng trên
TypeScript
<br>
Là một nền tảng, Angular bao gồm:
<br>
- Một khuôn khổ dựa trên thành phần để xây dựng các ứng dụng web có thể mở rộng
Một bộ sưu tập các thư viện được tích hợp tốt bao gồm nhiều tính năng, bao gồm định tuyến, quản lý biểu mẫu, giao tiếp máy khách-máy chủ, v.v.
Một bộ công cụ dành cho nhà phát triển để giúp bạn phát triển, xây dựng, kiểm tra và cập nhật mã của mình
<br>
- Với Angular, bạn đang tận dụng một nền tảng có thể mở rộng quy mô từ các dự án của một nhà phát triển đơn lẻ đến các ứng dụng cấp doanh nghiệp. Angular được thiết kế để làm cho việc cập nhật trở nên đơn giản nhất có thể, vì vậy hãy tận dụng những phát triển mới nhất với mức nỗ lực tối thiểu. Hơn hết, hệ sinh thái Angular bao gồm một nhóm đa dạng hơn 1,7 triệu nhà phát triển, tác giả thư viện và người tạo nội dung.
</p>
<!-- <p>about works!</p>
<br>
<span> Hello about works</span>
<h2 appBold>Bạn đã được {{age}} tuổi</h2>
<button (click)=" tangtuoi() ">Tăng tuổi</button>
<br>
Comments: <br>
<span>{{comments | json}}</span>
<br>
<span>{{comments?.[0] | json}}</span>
<br>
Posts: <br>
<div *ngFor = "let post of posts">
    <li>{{post | json}}</li>
</div>
<br>
<p>Bạn có <strong class="postcss">{{posts?.length}}</strong> tin nhắn</p>
<p>Số tin nhắn<span class = "badge">{{posts?.length}}</span></p>
<button (click) = "addPost()">Thêm post mới</button> -->