<!-- <app-home></app-home> -->
<!-- <app-about></app-about>
 -->
<a [routerLink]="['/home']" routerLinkActive="router-link-active">Đi tới home</a>
&nbsp;|
<a [routerLink]="['/about']" routerLinkActive="router-link-active">Đi tới about</a>
&nbsp;|
<a [routerLink]="['/form']" routerLinkActive="router-link-active">Đi tới form</a>
&nbsp;|
<a [routerLink]="['/reactiveform']" routerLinkActive="router-link-active">Đi tới Reactive form</a>
&nbsp; |
<a [routerLink]="['/demo']" routerLinkActive="router-link-active">Đi tới Demo form</a>
<router-outlet></router-outlet>