<p>home works!</p>
<h2>Chào bạn {{name}}</h2>
<h2>Bạn đã được {{age}} tuổi</h2>
<h3 class="myname">Nguyễn Thị Thu Thủy</h3>
<strong>Hello</strong>

<!-- *ngIf -->
<span *ngIf = "age < 18">Bạn dưới 18 tuổi</span>
<br>
<span *ngIf = "age >= 18">Bạn trên 18 tuổi</span>
<br><br>

<!-- ngModel -->
<input [(ngModel)]="name"/>
<br>
<br>
<button (click)=" tangtuoi() ">Tăng tuổi</button>
<br>
<!-- *ngFor -->
Danh sách xe :
<div *ngFor = "let vihicle of vihicles">
    <li>{{vihicle}}</li>
</div>

<div>
    <select name="" id="">
        <option *ngFor = "let vihicle of vihicles">
            {{vihicle}}
        </option>
    </select>
</div>

<!-- Event biddings -->
<!-- 
    click
    dbclick
    submit
    blur
    focus
    scroll
    cut
    copy
    paste
    keyup
    keypress
    keydown
    mouseup
    mousedown
    mouseenter

 -->
 
<!-- ng-template -->

<!-- *ngIf -->
<span *ngIf = "age < 18">Bạn dưới 18 tuổi</span>
<br>
<span *ngIf = "age >= 18">Bạn trên 18 tuổi</span>
<br><br>

<!-- ngModel -->
<input [(ngModel)]="name"/>
<br>
<br>
<button (click)=" tangtuoi() ">Tăng tuổi</button>
<br>
<br>
<br>
<span *ngIf="age < 18; then condition1; else condition2">
</span>
<ng-template #condition1 class = 'underAge'>Bạn dưới 18 tuổi</ng-template>
<br>
<ng-template #condition2 class = 'overAge'>Bạn trên 18 tuổi, bạn đã đủ tuổi</ng-template>
<br><br>

<!-- ngModel -->
<br>
<button (click)=" tangtuoi() ">Tăng tuổi</button>
<br>
